
@font-face {
  font-family: 'Adam';
  src: url('Adam.eot?#iefix') format('embedded-opentype'),  url('Adam.otf')  format('opentype'),
	     url('Adam.woff') format('woff'), url('Adam.ttf')  format('truetype'), url('Adam.svg#Adam') format('svg');
  font-weight: normal;
  font-style: normal;
}
